{% extends 'base.html.twig' %}

{% block title %}{% trans %}Panier{% endtrans %}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{% trans %}Panier{% endtrans %}</h1>

    {% set Total = 0 %}
    {% set nombreProduit = 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Nom{% endtrans %}</th>
                <th>{% trans %}Quantité commandée{% endtrans %}</th>
                <th>{% trans %}Montant{% endtrans %}</th>
                <th>Etat</th>
                <th></th>
                <th>{% trans %}Nombre de produit{% endtrans %}</th>
                <th>Total</th>
              
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}

        {% set montant =  panier.quantite * panier.produit.prix %}

        {% set Total = Total + montant %}
        {% set nombreProduit = nombreProduit +  panier.quantite %}
            <tr>
                <td>{{ panier.produit }}</td>
                <td>{{ panier.quantite }}</td>
                <td>{{ montant }}{% trans %}€{% endtrans %}</td>
                <td>{{ panier.etat ? "Payé" : "Non payé" }}</td>
                <td>
                    {{ include('panier/_delete_form.html.twig') }}
                </td>
                <td></td>
                <td></td>
            </tr>

        {% else %}
            <tr>
                <td colspan="6">{% trans %}Panier vide{% endtrans %}</td>
            </tr>
        {% endfor %}
        <tr class="thead-light">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-center">{{ nombreProduit }}</th>
            <th>{{ Total }}{% trans %}€{% endtrans %}</th>
        <tr>
        <tr>
        <th colspan="6"><a href="{{ path('validation')  }}" class="btn btn-info">{% trans %}Payer{% endtrans %}</a></th>
        </tr>

        </tbody>
    </table>



    <a href="{{ path('produit_index') }}">&#10229; {% trans %}Retour{% endtrans %}</a>

</div>
{% endblock %}
