{% extends 'base.html.twig' %}

{% block title %}{% trans %}Produit{% endtrans %}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{% trans %}Produit{% endtrans %} n°{{ produit.id }} </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Nom{% endtrans %}</th>
                <th>{% trans %}Photo{% endtrans %}</th>
                <th>{% trans %}Quantité{% endtrans %}</th>
                <th>{% trans %}Prix{% endtrans %}</th>
            </tr>
            <tr>
                <td>{{ produit.nom }}</td>
                <td><a href="{{ asset("uploads/produitImg/" ~ produit.photo )}}" target="_blank" title="voir"><img src="{{ asset("uploads/produitImg/" ~ produit.photo )}}" style="width:8rem"></a></td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.prix }}</td>
            </tr>
       
        </tbody>
    </table>
        
    <h3>{% trans %}Ajouter au panier{% endtrans %}</h3>
        
    {{ include('produit/_form_add_panier.html.twig') }}
   

    <a href="{{ path('produit_index') }}">&#10229; {% trans %}Retour{% endtrans %}</a>


    {{ include('produit/_delete_form.html.twig') }}
</div>
{% endblock %}
